body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-image: url("img/bodyBackground.jpg");
}

#sectionOne img {
    width: 100%;
    box-shadow: 0 8px 5px 0px rgb(63, 63, 63);
    margin-bottom: 1rem;
}

#topNav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem;
    background-color: #414141ba;
    border: none;
    border-radius: .5rem;
    position: sticky;
}

#topNav img {
    margin-left: 1rem;
}

#topNav ul {
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
}

#topNav li {
    /* border: 1px solid green; */
    list-style-type: none;
    padding: 1rem;
    margin-right: 1rem;
    background-color: #0d1b2a;
    border: 2px solid #1b263b;
    border-radius: .3rem;
}

#topNav a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    color: #bb9457;
}


#navMenu {
    display: flex;
    list-style: none;
    gap: 1rem;
}


#menuToggle {
    display: none;
    /* Hide by default */
    font-size: 2rem;
    background: none;
    border: none;
    color: #bb9457;
    cursor: pointer;
}




/* Section Two */

#sectionTwo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 1rem;
    padding-bottom: 5rem;
}

#sectionTwoLeft {
    /* border: 1px solid yellow; */
    /* max-width: 40%; */
    color: white;
    text-align: center;
    flex: 1;
    min-width: 60%;
}

#sectionTwoLeft img {
    border: none;
    border-radius: 1rem;
    box-shadow: 8px;
    max-width: 100%;
}


#sectionTwoRight {
    /* border: 1px solid blue; */
    color: white;
    text-align: center;
    margin-left: 3%;
    flex: 1;
    min-width: 20%;
}

#newEvents {
    /* border: 1px solid red; */
    height: 50%;
    border-radius: 1rem;
    margin-top: 5rem;
    background-color: #454341;
}

#newEvents h2 {
    border-bottom: 2px solid #6b6b6b;
    padding-bottom: .5rem;
    font-size: 1.6rem;
}

#newEvents div {
    padding: 0 1rem;
}

#information {
    /* border: 1px solid purple; */
    margin-top: 2rem;
    border-radius: 1rem;
    background-color: #454341;
    padding-bottom: 1rem;
}

#information h2 {
    border-bottom: 2px solid #6b6b6b;
    font-size: 1.6rem;
    padding-bottom: .5rem;
}

#information ul {
    list-style: none;
}

#information a {
    color: #bb9457;
    text-decoration: none;
    padding-right: 2rem;
    font-size: 1.2rem;
}

@media (max-width: 1150px) {
    #sectionTwo {
        flex-direction: column;
        align-items: center;
    }

    #sectionTwoLeft,
    #sectionTwoRight {
        max-width: 80%;
    }
}


@media (max-width: 600px) {
    #menuToggle {
        display: block;
    }

    #navMenu {
        display: none !important;
        flex-direction: column;
        align-items: center;
    }

    #navMenu.show {
        display: flex !important;
    }

}